@model Whatsupp.Models.Account
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.name)
                @Html.TextBoxFor(m => m.name)
            </li>
            <li>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </li>
            <li>
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
           
        </ol>
        <input type="submit" value="Register" />
    
}


